
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
// Begin the work on the landing page

.page-name{
  text-align: center;
  margin-top: 200px;
  position: relative;
  top: -572px;
  right:53px;
  color: white;
}

.beer-info{
  text-align: center;

}
.yeast{
  margin-left: -11px;
  margin-right: 126px;
}
.hops{
  margin-right: 126px;
}
.yeast-photo,
.hops-photo,
.barley-photo{
  border-radius: 50%;
  margin-right: -29px;
}
.yeast-info,
.hops-info,
.barley-info{
  line-height: 29px;
  margin-top: 40px;
  margin-right: -53px;
  margin-bottom: 75px;
  font-size: 14px;
  font-family: 'helvetica';
}
.users{
  margin-top: 100px;
}
.footer-border{
  border-top: 2px solid black;
  width: 100%;
}
.signin,
.signup{
  width: 500px;
  margin-bottom: 300px;
  margin-top: 100px;
  margin-right: 50px;
  border: 1px solid grey;
  border-radius: 7px;
  padding-top: 40px;
  padding-bottom: 75px;
  padding-left: 40px;
  padding-right: 40px;
}
.signin-username{
  margin-bottom: 20px;
}
.signin-button,
.submit-button{
  margin-top: 20px;
  margin-left: 250px;
}
.signup-name,
.signup-email,
.signup-username,
.signup-password{
  margin-bottom: 20px;
  display: inline-block;
}

// End of work on the landing page




// The search bar and nav for all the pages

.search-input{
  margin-top: 50px;
  width: 600px;
  height: 50px;
  display: inline-block;
}
.submit-button-homepage{
  display: inline-block;
  margin-left: 618px;
  margin-top: -74px;
}
.nav-button{
  margin-top: 50px;
  display: inline-block;
  float: right;
  border: none;
}
.nav-toggle{
  background-color: rgba(205, 206, 215, 1);
  width: 300px;
  height: 1200px;
  margin-top: -100px;
  position: fixed;
  right: 0;
}
.profile-toggle,
.home-toggle,
.map-toggle,
.logout-toggle{
  margin-top: 100px;
}
.nav-button1,
.nav-button2,
.nav-button3,
.nav-button4{
  border: none;
  background-color: rgba(205, 206, 215, 1);
  width: 200px;
  margin-left: 60px;
}

// End search and nav styling




// Work on the profile page

.empty-profile-pic,
.empty-beer-pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 100px;
}
.user-info{
  margin-top: 200px;
}
.username{
  font-size: 50px;
  font-weight: lighter;
}
.email{
  font-size: 15px;
}

// The end of the profile page




// The search page that lists breweries based on how recent

.latest-breweries-list{
  margin-top: 100px;
}
.pagination-buttons{
  margin-top: 50px;
  margin-left: 380px;
}

// End search page with breweries based on how recent



//Home page render of breweries

.latest-brewery-info{
  border: 1px solid rgba(202, 207, 210, 1);
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  width: 350px;
  height: 300px;
  margin-right: 25px;
  margin-bottom: 30px;
}
.brewery-icon{
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 108px;
}
.latest-brewery-name{
  font-size: 15px;
  color: navy;
  letter-spacing: 3px;
  text-align: center;
}
.latest-brewery-established{
  font-size: 12px;
  color: navy;
  letter-spacing: 1.5px;
  text-align: center;
}

//End of home page render of breweries
