
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
// Begin the work on the landing page

.carousel-control.left,
.carousel-control.right{
  background-image: none;
}
.logo-page{
  display: inline-block;
  height: 700px;
  background-color: rgba(254, 222, 113, 1);
}
.goblet-icon-logo{
  margin-left: 300px;
}
.goblet-icon-logo,
.pint-icon-logo,
.tulip-icon-logo,
.pilsner-icon-logo,
.landing-page-name{
  display: inline-block;
  text-align: center;
  margin-top: 150px;
}
.landing-page-name{
  display: block;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 10px;
  color: rgba(102, 94, 86, 1);
  margin-top: 25px;
}
.goblet-icon,
.pilsner-icon,
.pint-icon,
.snifter-icon,
.stange-icon,
.tulip-icon,
.weizen-icon{
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
}
.goblet-title,
.pilsner-title,
.pint-title,
.snifter-title,
.stange-title,
.tulip-title,
.weizen-title{
  margin-top: 200px;
  font-family: "Montserrat";
  color: rgba(102, 94, 86, 1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 7px;
}
.goblet-detail,
.pilsner-detail,
.pint-detail,
.snifter-detail,
.stange-detail,
.tulip-detail,
.weizen-detail{
  margin-top: 25px;
  font-family: "Montserrat";
  font-size: 10px;
  letter-spacing: .5px;
  width: 384px;
  line-height: 30px;
}
.goblet-page,
.pint-page,
.stange-page,
.weizen-page{
  height: 700px;
  background-color: rgba(204, 200, 196, 1);
}
.pilsner-page{
  height: 700px;
  background-color: rgba(198, 219, 139, 1);
}
.snifter-page{
  height: 700px;
  background-color: rgba(255, 170, 98, 1);
}
.tulip-page{
  height: 700px;
  background-color: rgba(255, 239, 182, 1);
}
.beer-info{
  text-align: center;
  margin-top: 100px;
}
// .yeast{
//   margin-left: -11px;
//   margin-right: 126px;
// }
// .hops{
//   margin-right: 126px;
// }
.yeast-photo,
.hops-photo,
.barley-photo{
  border: 1px solid rgba(102, 94, 87, 1);
  border-radius: 50%;
  width: 110px;
}
.yeast-title,
.hops-title,
.barley-title{
  font-family: "Montserrat";
  text-transform: uppercase;
  color: rgba(102, 94, 87, 1);
  font-size: 15px;
  letter-spacing: 7px;
  margin-top: 40px;
  text-align: center;
}
.yeast-info,
.hops-info,
.barley-info{
  line-height: 33px;
  margin-top: 40px;
  margin-bottom: 75px;
  font-size: 10px;
  font-family: "Montserrat";
  letter-spacing: .25px;
}
.users{
  margin-top: 100px;
  background-color: rgba(255, 170, 98, 1);
}
.footer-border{
  background-color: rgba(255, 170, 98, 1);
  width: 100%;
}
.signin-title,
.signup-title{
  margin-top: 100px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: rgba(102, 94, 87, 1);
  letter-spacing: 5px;
}
.signin-username{
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
}
.signin-password{
  width: 250px;
  height: 25px;
}
.signin-button,
.submit-button{
  width: 55px;
  margin-top: 20px;
  margin-bottom: 200px;
  border: none;
  font-family: "Montserrat";
  font-size: 9px;
  color: rgba(102, 94, 87, 1);
}
.signup-name,
.signup-email{
  margin-bottom: 20px;
  width: 200px;
  height: 25px;
  display: inline-block;
}
.signup-username,
.signup-password{
  width: 200px;
  height: 25px;
  display: inline-block;
}
.signup-email,
.signup-password{
  margin-left: 20px;
}
// End of work on the landing page




// The search bar and nav for all the pages
.header{
  background-color: rgba(255, 239, 182, 1);
  height: 75px;
}
.search-input{
  margin-top: 25px;
  margin-left: 110px;
  width: 200px;
  height: 30px;
  display: inline-block;
  border: none;
  background-color: rgba(255, 239, 182, 1);
  font-family: "Montserrat";
  letter-spacing: 2px;
  font-size: 15px;
  color: rgba(198, 219, 139, 1);
  font-weight: bold;
}
.submit-button-homepage{
  display: inline-block;
  margin-top: 25px;
  background-color: rgba(204, 200, 196, 1);
  border: none;
  font-family: "Montserrat";
  font-weight: lighter;
  text-transform: uppercase;
}
.nav-button{
  margin-top: 15px;
  margin-right: 200px;
  color: rgba(102, 94, 87, 1);
  background-color: rgba(255, 239, 182, 1);
  display: inline-block;
  float: right;
  border: none;
}
.nav-toggle{
  background-color: rgba(204, 200, 196, 1);
  width: 13%;
  height: 3000px;
  position: fixed;
  right: 0;
}
.profile-toggle,
.home-toggle,
.logout-toggle{
  margin-top: 50px;
  color: rgba(102, 94, 87, 1);
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 170, 98, 1);
  padding-bottom: 45px;
  text-align: center;
}
.nav-button1,
.nav-button2,
.nav-button3,
.nav-button4{
  border: none;
  background-color: rgba(204, 200, 196, 1);
}

// End search and nav styling




// Work on the profile page
.profile-pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 100px;
}
.add-button{
  display: inline-block;
  margin-top: 25px;
  margin-left: 55px;
  margin-bottom: 75px;
  width: 215px;
  height: 45px;
  border: none;
}
.submit-picture-button{
  display: inline-block;
  text-align: center;
}
.user-info{
  margin-top: 200px;
}
.username{
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(102, 94, 87, 1);
  font-size: 70px;
  letter-spacing: 3px;
  margin-left: 175px;
}
.email{
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
  color: rgba(102, 94, 87, 1);
  text-align: center;
}
.favorites-background{
  background-color: rgba(254, 222, 113, 1);
}
.my-drinks{
  font-family: "Montserrat";
  font-size: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(102, 94, 87, 1);
  margin-top: 100px;
}
.favorite-beer-info{
  background-color: white;
  border-radius: 7px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 100px;
}
.remove-button{
  float: right;
  background-color: white;
  border: none;
}
.favorite-brewery-icon{
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.beer-label{
  margin-top: 50px;
}
.favorite-beer-name{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 80px;
}
.favorite-beer-description{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: .5px;
  font-size: 12px;
  line-height: 28px;
}
.favoritesList{
  margin-bottom: 130px;
}
// The end of the profile page




// The search page that lists breweries based on how recent

.pagination-buttons{
  margin-top: 50px;
}

// End search page with breweries based on how recent



//Home page render of breweries
.latest-breweries-list{
  width: 70%;
  text-align: center;
}
.home-page-background{
  background-color: rgba(255, 239, 182, 1);
}
.latest-brewery-info{
  border-radius: 7px;
  background-color: rgba(255, 170, 98, 1);
  width: 275px;
  height: 200px;
  margin-right: 25px;
  margin-bottom: 17px;
  margin-top: 20px;
}
.brewery-icon{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-top: 30px;
}
.latest-brewery-name{
  font-family: "Montserrat";
  font-weight: bold;
  color: rgba(102, 94, 87, 1);
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 15px;
}
.latest-brewery-established{
  font-family: "Montserrat";
  font-size: 10px;
  color: rgba(102, 94, 87, 1);
  letter-spacing: 1.5px;
}

//End of home page render of breweries


//Detail view of selected brewery
.detail-brewery-info{
  width: 95%;
  text-align: center;
}
.brewery-icon-detail-page{
  width: 80px;
  height: 80px;
  text-align: center;
  margin-bottom: 100px;
}
.brewery-info{
  margin-top: 200px;
  text-align: center;
}
.brewery-name-page{
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  color: rgba(102, 94, 87, 1);
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
}
.brewery-established-page{
  font-family: "Montserrat";
  font-size: 17px;
  color: rgba(102, 94, 87, 1);
  text-align: center;
  margin-top: 30px;
}
.brewery-description-page{
  font-family: "Montserrat";
  font-size: 14px;
  color: rgba(102, 94, 87, 1);
  letter-spacing: .5px;
  line-height: 31px;
  margin-top: 25px;
}
.beers-background{
  background-color: rgba(198, 219, 139, 1);
}
.beer-info-detail-page{
  border-radius: 5px;
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 130px;
  margin-top: 150px;
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
}
.beer-label{
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
.beer-name{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: lighter;
  margin-right: 20px;
  margin-top: 75px;
  text-align: center;
}
.beer-label{
  margin-top: -30px;
  text-align: center;
}
.beer-abv{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: .5px;
}
.beer-description{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: .5px;
  font-size: 12px;
  line-height: 28px;
}
.drinkup-button-detail{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 170, 98, 1);
}

//End of detail view



//Search results
.brew-search-container{
  width: 80%;
  text-align: center;
}
.brew-search-background{
  background-color:rgba(198, 219, 139, 1);
}
.searched-beer{
  display: inline-block;
  background-color: white;
  border-radius: 7px;
  width: 75%;
  height: 540px;
  margin-top: 110px;
}
.brew-search-container{
  background-color:rgba(198, 219, 139, 1);
}
.beer-search-label{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 33px;
}
.beer-search-name{
  font-family: "Montserrat";
  font-weight: bold;
  color: rgba(102, 94, 87, 1);
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
}
.beer-search-abv{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  margin-top: 15px;
  font-size: 13px;
  letter-spacing: .5px;
  text-align: center;
}
.beer-search-description{
  font-family: "Montserrat";
  font-size: 10px;
  text-align: center;
  line-height: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
.drinkup-button-search{
  font-family: "Montserrat";
  color: rgba(102, 94, 87, 1);
  border: 1px solid rgba(255, 170, 98, 1);
  margin-top: 20px;
}
.pagination-buttons-search{
  text-align: center;
}

//End of search results
